@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="Seccion" id="sec_4">
    <div class="presentacion" id="F02">
        <div class="below_sec2">
            <div class="Marca_M" onclick="window.location = '#sec_1';">
            </div>
            <div class="logo_3">
                <h1>TEC</h1>
                <h2>Helper</h2>
            </div>
            <div class="CT-1">
                <select name="select" class="new">
                    <option>Products</option>
                    <option>Products</option>
                    <option>Contact</option>
                    <option>About</option>
                </select>
            </div>
        </div>
        <div class="producto" id="PR02"></div>
        <div class="logo_pro">
            <h1>HUAWEI</h1>
        </div>
        <div class="under_sec2">
            <div class="precio">
                <p>Precio:</p>
                <h1>$3890</h1>
            </div>
            <div class="crr_compra" id="CR2">
                <p>Buy Now</p>
            </div>
        </div>
    </div>
    <div class="menu_01">
        <a href="#P01">Producto</a>
        <a href="#P02">Especificaciones</a>
        <a href="#P03">Tienda</a>
        <div class="line_01" id="L2"></div>
    </div>
    <div class="especi">
        <div class="Info" id="P01">
            <h1>MateBook X Pro</h1>
            <h2>Huawei</h2>
            <p>Windows 10</p>
            <div class="chip">
                <div class="Pr_Chip"></div>
                <div class="Se_Chip"></div>
            </div>
            <div class="ico_tipo" id="I2">
                <div class="img_03"></div>
                <p class="mov">Laptop</p>
            </div>
        </div>
        <div class="Info" id="P02">
            <div class="caract">
                <div class="GN" id="LP" data-simplebar>
                    <div class="T">
                        <div class="SubTitulo">
                            <h1>P</h1>
                            <p>Pantalla</p>
                        </div>
                        <div class="More">
                            <h1>Pantalla de Retina</h1>
                            <p>
                                Pantalla de 13.3 pulgadas (diagonal) retroiluminada por LED con tecnología IPS; resolución nativa de 2560 x 1600 a 227 pixeles por pulgada
                                compatible con millones de colores.
                            </p>
                            <p>
                                Resoluciones ajustadas compatibles:
                            </p>
                            <div class="pant">
                                <div class="img_021"></div>
                                <ul>
                                    <li>1680 x 1050</li>
                                    <li>1440 x 900</li>
                                    <li>1024 x 640</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="T" id="DT">
                        <div class="SubTitulo">
                            <h1>A</h1>
                            <p>Almacenamiento</p>
                        </div>
                        <div class="More">
                            <h1>Almacenamiento</h1>
                            <p>
                                Pantalla de 13.3 pulgadas (diagonal) retroiluminada por LED con tecnología IPS; resolución nativa de 2560 x 1600 a 227 pixeles por pulgada
                                compatible con millones de colores.
                            </p>
                            <p>
                                Resoluciones ajustadas compatibles:
                            </p>
                            <div class="pant">
                                <div class="img_021"></div>
                                <ul>
                                    <li>1680 x 1050</li>
                                    <li>1440 x 900</li>
                                    <li>1024 x 640</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="T" id="DT">
                        <div class="SubTitulo">
                            <h1>P</h1>
                            <p>Parocesador</p>
                        </div>
                        <div class="More">
                            <h1>Procesador</h1>
                            <p>
                                Pantalla de 13.3 pulgadas (diagonal) retroiluminada por LED con tecnología IPS; resolución nativa de 2560 x 1600 a 227 pixeles por pulgada
                                compatible con millones de colores.
                            </p>
                            <p>
                                Resoluciones ajustadas compatibles:
                            </p>
                            <div class="pant">
                                <div class="img_021"></div>
                                <ul>
                                    <li>1680 x 1050</li>
                                    <li>1440 x 900</li>
                                    <li>1024 x 640</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="GN" id="IN" data-simplebar>
                    <p>
                        El tercer feudo fue entre The Dream Team —conformado por Greg Valentine y Brutus Beefcake— y The British Bulldogs —formado por Davey Boy Smith y Dynamite
                        Kid— por el Campeonato Mudial en Parejas de la WWF.7​ El 24 de agosto de 1985, Beefcake y Valentine ganaron el título por parejas ante el equipo The U.S.
                        Express (Barry Windham y Mike Rotunda).22​ The British Bulldogs desafiaron a Beefcake y Valentine por el campeonato inmediatamente después de su victoria;
                        retuvieron su cetro al ser descalificados contra los Bulldogs en un evento no televisado celebrado el 11 de septiembre.23​ Posteriormente defendieron nuevamente
                        los títulos contra los Bulldogs en el Saturday Night's Main Event, donde The Dream Team salió victorioso.12​ Después de que los Bulldogs perdieran dos veces
                        en la lucha por el cetro, Dream Team acordó defender el Campeonato Mundial en Parejas contra ellos por última vez en WrestleMania.24
                        Otras de las disputas fue entre Randy «Macho Man» Savage y George «Animal» Steele. Su origen se produjo luego de que Steel se enamorara de la mánager de
                        Savage —Miss Elizabeth—, la cual era la esposa del segundo en la vida real.25​ Su primera reunión tuvo lugar en el Saturday Night's Main Event que se emitió
                        poco antes de que Savage ganara el Campeonato Intercontinental de la WWF. Junto con el excampeón Tito Santana (que estuvo en el segmento del evento en Los
                        Ángeles), Steele se convirtió en uno de los principales candidatos para luchar contra Savage por el título.25
                    </p>
                </div>
                <div class="GN" id="GT" data-simplebar>
                    <p>
                        Por último, en el evento principal de WrestleMania 2, Hulk Hogan defendió el Campeonato Mundial Peso Pesado WWF en un combate de tipo «Steel Cage match»
                        ante King Kong Bundy.10​ Hogan tenía las costillas dañadas debido a los golpes que recibió por parte del mismo adversario en el Saturday Night's Main Event
                        del 1 de marzo de 1986.1
                        Al comienzo, Bundy le quitó a Hogan la cinta que tenía para protegerse las costillas; sin embargo, el segundo se defendió y apretó la cabeza de Bundy
                        contra la puerta de la jaula.20​ Posteriormente, intentó sin éxito hacerle un «Scoop slam», pero Bundy respondió realizándole un «Big splash». No obstante,
                        Hulk Hogan le ejecutó un «Power slam» seguido de un «Leg drop».20​ Después probó escapar de la jaula, pero Bundy le atrapó y tiro de sus piernas para
                        impedirlo, mas Hogan le pateó y logró trepar hasta salir, por lo que ganó, reteniendo el título.38​ Seguidamente de la victoria, Hogan encerró a Bobby Heenan
                        —mánager de Bundy— dentro de la jaula y le efectuó un «Atomic drop», mientras King Kong se recuperaba afuera del cuadrilátero.39
                    </p>
                </div>
                <div class="GN" id="AP" data-simplebar>
                    <p>
                        Al comienzo, Bundy le quitó a Hogan la cinta que tenía para protegerse las costillas; sin embargo, el segundo se defendió y apretó la cabeza de Bundy
                        contra la puerta de la jaula.20​ Posteriormente, intentó sin éxito hacerle un «Scoop slam», pero Bundy respondió realizándole un «Big splash». No obstante,
                        Hulk Hogan le ejecutó un «Power slam» seguido de un «Leg drop».20​ Después probó escapar de la jaula, pero Bundy le atrapó y tir
                    </p>
                </div>
            </div>
            <div class="bot_pro">
                <div class="boton_espo">
                    <a href="#LP">Chip Intel</a>
                </div>
            </div>
        </div>
        <div class="Info" id="P03">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d982.1614007491178!2d-76.98343802117631!3d-12.154429445857346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b9e62c937a97%3A0x24fd9eafcfb5331!2sHUAWEI%20Customer%20Service%20Center%20Mall%20del%20Sur!5e0!3m2!1ses-419!2spe!4v1571759406448!5m2!1ses-419!2spe" width="450" height="310" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <div class="prove">
                <div class="logo_prove" id="LGP2"></div>
                <div class="lugar1">
                    <p>Centro Comercial Mall del Sur, Distrito de Lima 15801</p>
                </div>
            </div>
        </div>
    </div>
</div>